body{
  
    font-size: 16px;
    font-family: 'Source Serif Pro',serif;
    word-spacing: 2px;
    letter-spacing: normal;
    background-image: "C:\frontend\bgimg.jpg";

}
h2{color:rgb(255,100,38)}